<?xml version="1.0" encoding="UTF-8"?>
<Konfiguration>
  <Version>0.8.0</Version>
  <Latitude>47.377672</Latitude>
  <Longitude>8.518703</Longitude>
  <AzElOption>BusTime</AzElOption>
  <TimeAddress>1/0/0</TimeAddress>
  <DateAddress>1/0/1</DateAddress>
  <AzimuthAddress>1/0/2</AzimuthAddress>
  <ElevationAddress>1/0/3</ElevationAddress>
  <AzimuthDPT>14.007</AzimuthDPT>
  <ElevationDPT>14.007</ElevationDPT>
  <AzElTimezone>Europe/Zurich</AzElTimezone>
  <KnxConnectionType>TUNNELING</KnxConnectionType>
  <KnxIndividualAddress>15.15.255</KnxIndividualAddress>
  <KnxGatewayIp>10.0.0.50</KnxGatewayIp>
  <KnxGatewayPort>3671</KnxGatewayPort>
  <KnxMulticastGroup>224.0.23.12</KnxMulticastGroup>
  <KnxMulticastPort>3671</KnxMulticastPort>
  <KnxAutoReconnect>true</KnxAutoReconnect>
  <KnxAutoReconnectWait>5</KnxAutoReconnectWait>
  <Sectors>
    <Sector>
      <GUID>00247f60-ed21-4bc8-9ca7-48ddc290042a</GUID>
      <Name>Sektor 1</Name>
      <Orientation>180</Orientation>
      <HorizonLimit>true</HorizonLimit>
      <LouvreTracking>true</LouvreTracking>
      <LouvreSpacing>70</LouvreSpacing>
      <LouvreDepth>80</LouvreDepth>
      <LouvreAngleAtZero>90</LouvreAngleAtZero>
      <LouvreAngleAtHundred>3</LouvreAngleAtHundred>
      <LouvreMinimumChange>20</LouvreMinimumChange>
      <LouvreBuffer>5</LouvreBuffer>
      <UseBrightness>true</UseBrightness>
      <UseIrradiance>true</UseIrradiance>
      <BrightnessAddress>2/0/0</BrightnessAddress>
      <HeightAddress>2/0/6</HeightAddress>
      <LouvreAngleAddress>2/0/2</LouvreAngleAddress>
      <SunBoolAddress>2/0/3</SunBoolAddress>
      <BrightnessUpperThreshold>100000</BrightnessUpperThreshold>
      <BrightnessUpperDelay>30</BrightnessUpperDelay>
      <BrightnessLowerThreshold>90000</BrightnessLowerThreshold>
      <BrightnessLowerDelay>60</BrightnessLowerDelay>
      <IrradianceAddress>2/0/1</IrradianceAddress>
      <IrradianceUpperThreshold>200</IrradianceUpperThreshold>
      <IrradianceUpperDelay>10</IrradianceUpperDelay>
      <IrradianceLowerThreshold>100</IrradianceLowerThreshold>
      <IrradianceLowerDelay>20</IrradianceLowerDelay>
      <BrightnessIrradianceLink>And</BrightnessIrradianceLink>
      <OnAutoAddress>2/0/4</OnAutoAddress>
      <OnAutoBehavior>Auto</OnAutoBehavior>
      <OffAutoAddress>2/0/5</OffAutoAddress>
      <OffAutoBehavior>Auto</OffAutoBehavior>
      <FacadeAddress></FacadeAddress>
      <FacadeStart></FacadeStart>
      <FacadeEnd></FacadeEnd>
      <HorizonPoints>
        <Point>
          <X>-90</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>-50</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>-50</X>
          <Y>50</Y>
        </Point>
        <Point>
          <X>0</X>
          <Y>60</Y>
        </Point>
        <Point>
          <X>0</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>30</X>
          <Y>40</Y>
        </Point>
        <Point>
          <X>50</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>70</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>89</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>90</X>
          <Y>90</Y>
        </Point>
      </HorizonPoints>
      <CeilingPoints>
        <Point>
          <X>-90</X>
          <Y>90</Y>
        </Point>
        <Point>
          <X>30</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>90</X>
          <Y>90</Y>
        </Point>
      </CeilingPoints>
    </Sector>
    <Sector>
      <GUID>67609431-421a-4614-b638-d144db864348</GUID>
      <Name>Sektor 2</Name>
      <Orientation>90</Orientation>
      <HorizonLimit>false</HorizonLimit>
      <LouvreTracking>false</LouvreTracking>
      <LouvreSpacing>0</LouvreSpacing>
      <LouvreDepth>0</LouvreDepth>
      <LouvreAngleAtZero>90</LouvreAngleAtZero>
      <LouvreAngleAtHundred>0</LouvreAngleAtHundred>
      <LouvreMinimumChange>20</LouvreMinimumChange>
      <LouvreBuffer>5</LouvreBuffer>
      <UseBrightness>true</UseBrightness>
      <UseIrradiance>true</UseIrradiance>
      <BrightnessAddress>2/1/0</BrightnessAddress>
      <HeightAddress>2/1/6</HeightAddress>
      <LouvreAngleAddress>3/4/5</LouvreAngleAddress>
      <SunBoolAddress>2/1/3</SunBoolAddress>
      <BrightnessUpperThreshold>30</BrightnessUpperThreshold>
      <BrightnessUpperDelay>20</BrightnessUpperDelay>
      <BrightnessLowerThreshold>10</BrightnessLowerThreshold>
      <BrightnessLowerDelay>0</BrightnessLowerDelay>
      <IrradianceAddress>2/1/1</IrradianceAddress>
      <IrradianceUpperThreshold>300</IrradianceUpperThreshold>
      <IrradianceUpperDelay>200</IrradianceUpperDelay>
      <IrradianceLowerThreshold>100</IrradianceLowerThreshold>
      <IrradianceLowerDelay>90</IrradianceLowerDelay>
      <BrightnessIrradianceLink>And</BrightnessIrradianceLink>
      <OnAutoAddress>2/1/4</OnAutoAddress>
      <OnAutoBehavior>Auto</OnAutoBehavior>
      <OffAutoAddress>2/1/5</OffAutoAddress>
      <OffAutoBehavior>Auto</OffAutoBehavior>
      <FacadeAddress></FacadeAddress>
      <FacadeStart></FacadeStart>
      <FacadeEnd></FacadeEnd>
      <HorizonPoints>
        <Point>
          <X>-90</X>
          <Y>0</Y>
        </Point>
        <Point>
          <X>90</X>
          <Y>0</Y>
        </Point>
      </HorizonPoints>
      <CeilingPoints>
        <Point>
          <X>-90</X>
          <Y>90</Y>
        </Point>
        <Point>
          <X>-90</X>
          <Y>30</Y>
        </Point>
        <Point>
          <X>0</X>
          <Y>0</Y>
        </Point>
        <Point>
          <X>0</X>
          <Y>0</Y>
        </Point>
        <Point>
          <X>90</X>
          <Y>90</Y>
        </Point>
        <Point>
          <X>90</X>
          <Y>90</Y>
        </Point>
      </CeilingPoints>
    </Sector>
  </Sectors>
  <TimePrograms>
    <TimeProgram>
      <GUID>844079f3-a3d4-401a-9f14-f94e83c83fc9</GUID>
      <Name>Porgramm 1</Name>
      <Commands>
        <Command>
          <Type>1bit</Type>
          <Weekdays>127</Weekdays>
          <Time>20:43</Time>
          <Value>1</Value>
          <GroupAddress>1/2/3</GroupAddress>
        </Command>
        <Command>
          <Type>1byte</Type>
          <Weekdays>4</Weekdays>
          <Time>20:43</Time>
          <Value>71</Value>
          <GroupAddress>1/2/4</GroupAddress>
        </Command>
        <Command>
          <Type>1byte</Type>
          <Weekdays>8</Weekdays>
          <Time>20:43</Time>
          <Value>155</Value>
          <GroupAddress>1/2/5</GroupAddress>
        </Command>
      </Commands>
    </TimeProgram>
    <TimeProgram>
      <GUID>50b7835a-54d6-4d4e-912f-b573a2092348</GUID>
      <Name>Programm 2</Name>
      <Commands>
        <Command>
          <Type>1bit</Type>
          <Weekdays>127</Weekdays>
          <Time>20:43</Time>
          <Value>1</Value>
          <GroupAddress>1/3/1</GroupAddress>
        </Command>
        <Command>
          <Type>1bit</Type>
          <Weekdays>4</Weekdays>
          <Time>20:43</Time>
          <Value>0</Value>
          <GroupAddress>1/3/1</GroupAddress>
        </Command>
        <Command>
          <Type>1bit</Type>
          <Weekdays>4</Weekdays>
          <Time>20:43</Time>
          <Value>1</Value>
          <GroupAddress>1/3/3</GroupAddress>
        </Command>
      </Commands>
    </TimeProgram>
  </TimePrograms>
</Konfiguration>